.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: orange;
}
#quote-box {
  width: 450px;
  padding: 40px 50px;
  border-radius: 3px;
  background: #fff;
}
.quote-text {
  width: 100%;
  height: auto;
  text-align: center;
  clear: both;
  font-weight: 500;
  font-size: 1.75rem;
  background: inherit;
}
.quote-text i {
  font-size: 1em;
  margin-right: 0.4rem;
  background: inherit;
}
.quote-text span {
  background: inherit;
}
#author {
  font-size: 1em;
  margin-top: 20px;
  width: 100%;
  text-align: right;
  font-weight: normal;
  background: inherit;
}
.card_footer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: inherit;
}
.social_media_buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  background: inherit;
}
.social_media_buttons > a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.social_media_buttons > a img {
  width: 20px;
}
#new-quote {
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}
